<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminPanel.Middleware.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminPanel.Middleware.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AdminPanel.Middleware.settings>
            <setting name="DB_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_BRANCH" serializeAs="String">
                <value>admin_stable</value>
            </setting>
            <setting name="DB_HTTP" serializeAs="String">
                <value>https</value>
            </setting>
        </AdminPanel.Middleware.settings>
    </userSettings>
    <applicationSettings>
        <AdminPanel.Middleware.settings>
            <setting name="DB_HOST" serializeAs="String">
                <value>ocenki.herokuapp.com</value>
            </setting>
        </AdminPanel.Middleware.settings>
    </applicationSettings>
</configuration>